/*
  ************************ CSS table of content ************************

  1)  header-section
  2)  default padding css
 **************************************************************** */

@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700|Roboto:400,500,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700|Roboto:400,500,700&display=swap");
/* default padding css end */

/* header-section start */
.header-section .main-menu li .active .active-line, .side_menu .menu-left li .active {
    border-bottom: 2px solid #265eb3;
    color: #265eb3;
    padding-bottom: 2px;
}
.header-section .main-menu li .active{
    color: #265eb3;
}
.header-section a {
    text-decoration: none;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    color: #292929;
}
a.site-logo.site-title img {
    max-width: 20%;
}
.header-section {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999999;
}

@media (max-width: 1199px) {
    .header-section {
        background-color: #ffffff;
    }
}

.header-section.menu-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.header-section.menu-fixed .header-bottom {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.header-section.menu-fixed .header-bottom .navbar {
    box-shadow: none;
}

.header-section .header-dots {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    overflow: hidden;
}
@media (min-width: 1025px) {
    .canvus_menu{
        display: none;
    }
}
@media (max-width: 1025px) {
    .header-section {
        display: none;
    }
}
@media (max-width: 426px) {
    .logo img {
    max-width: 50%;
}
.side_menu .logo{
    margin: 0 auto;
}
}
@media (max-width: 380px) {
    .header-section .site-logo img {
        max-width: 150px;
    }
}

@media (max-width: 1199px) {
    .header-section .main-menu {
        padding: 15px 0;
    }
}

@media (max-width: 1199px) {
    .header-section .main-menu li + li {
        border-top: 1px solid #e5e5e5;
    }
}

.header-section .main-menu li {
    position: relative;
}

.header-section .main-menu li.menu_has_children {
    position: relative;
}

.header-section .main-menu li.menu_has_children.open .sub-menu {
    display: block;
}

@media (max-width: 1199px) {
    .header-section .main-menu li.menu_has_children > a {
        display: block;
    }
}

.header-section .main-menu li.menu_has_children > a::before {
    position: absolute;
    content: "\f107";
    font-family: 'FontAwesome';
    top: 0;
    right: 0;
    color: #777777;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: none;
}

@media (max-width: 1199px) {
    .header-section .main-menu li.menu_has_children > a::before {
        display: block;
        top: 9px;
    }
}

.header-section .main-menu li.menu_has_children:hover > a::before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    color: #505bda;
}

.header-section .main-menu li a {
    padding: 34px 15px 34px 0;
    text-transform: capitalize;
    font-size: 16px;
    color: #292929;
    position: relative;
    font-weight: 500;
}

@media (max-width: 1199px) {
    .header-section .main-menu li a {
        padding: 8px 0;
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
}

.header-section .main-menu li a:hover, .header-section .main-menu li a:focus {
    color: #505bda;
}

.header-section .main-menu li .sub-menu {
    position: absolute;
    width: 220px;
    top: 105%;
    left: -20px;
    z-index: 999;
    background-color: #3b47d6;
    padding: 10px 0;
    border-top: 2px solid #505bda;
    -webkit-box-shadow: 0px 18px 54px -8px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 18px 54px -8px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
}

@media (max-width: 1199px) {
    .header-section .main-menu li .sub-menu {
        opacity: 1;
        visibility: visible;
        display: none;
        position: static;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
        width: 100%;
    }
}

.header-section .main-menu li .sub-menu li a {
    padding: 8px 20px;
    display: block;
    color: #ffffff;
}

@media (max-width: 1199px) {
    .header-section .main-menu li .sub-menu li a {
        font-size: 16px;
    }
}

.header-section .main-menu li .sub-menu li a:hover {
    background-color: rgba(38, 174, 97, 0.05);
    color: #ffffff;
    text-decoration: underline;
}

.header-section .main-menu li .sub-menu li + li {
    margin-left: 0;
}

.header-section .main-menu li:hover .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.header-section .main-menu li + li {
    margin-left: 20px;
}

@media (max-width: 1199px) {
    .header-section .main-menu li + li {
        margin-left: 0;
    }
}

@media (max-width: 1199px) {
    .header-section .nav-right {
        margin-bottom: 15px;
    }
}

@media (max-width: 1199px) {
    .header-section .nav-right .header-cart {
        display: none;
    }
}

.header-section .nav-right .header-cart-btn {
    background-color: transparent;
    padding: 0;
    font-size: 24px;
    color: #505bda;
    position: relative;
}

.header-section .nav-right .header-cart-btn .header-cart-total-num {
    position: absolute;
    top: -6px;
    right: -10px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    background-color: #505bda;
    color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header-section .nav-right .nav-right-menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 20px;
}

@media (max-width: 1199px) {
    .header-section .nav-right .nav-right-menu {
        margin-left: 0;
    }
}

.header-section .nav-right .nav-right-menu li + li {
    margin-left: 10px;
}

.header-section .nav-right .nav-right-menu li a {
    text-transform: capitalize;
    font-weight: 500;
    color: #292929;
}

.navbar-collapse + .header-cart {
    display: none;
}

@media (max-width: 1199px) {
    .navbar-collapse + .header-cart {
        display: block;
        position: fixed;
        top: 17px;
        right: 100px;
    }
}

@media (max-width: 1024px) {
    .navbar-collapse + .header-cart {
        right: 50px;
    }
}

.header-cart {
    position: relative;
    margin-left: 30px;
}

.header-cart .header-cart-btn {
    background-color: transparent;
    padding: 0;
    font-size: 24px;
    color: #505bda;
    position: relative;
}

.header-cart .header-cart-btn .header-cart-total-num {
    position: absolute;
    top: -6px;
    right: -10px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    background-color: #505bda;
    color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header-cart .header-cart-area {
    position: absolute;
    top: 110%;
    left: 0;
    width: 280px;
    background-color: #ffffff;
    padding: 15px 15px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

@media (max-width: 1199px) {
    .header-cart .header-cart-area {
        left: auto;
        right: 0;
    }
}

.header-cart .header-cart-area.active {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.header-cart .header-cart-area .cart-btn-area {
    margin-top: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-cart .header-cart-area .cart-btn-area a {
    padding: 10px 20px;
    background-color: #505bda;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.header-cart .header-cart-area .cart-btn-area a:hover {
    background-color: #2b38cc;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}

.header-cart .header-cart-list .single-product {
    padding: 15px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
}

.header-cart .header-cart-list .single-product:first-child {
    padding-top: 0;
}

.header-cart .header-cart-list .single-product:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.header-cart .header-cart-list .single-product .product-thumb {
    width: 50px;
    height: 50px;
    background-color: #fafafa;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header-cart .header-cart-list .single-product .product-details {
    padding-left: 15px;
    width: calc(100% - 85px);
}

.header-cart .header-cart-list .single-product .product-details .product-name {
    font-size: 18px;
}

.header-cart .header-cart-list .single-product .product-details .product-amount {
    font-size: 14px;
}

.header-cart .header-cart-list .single-product .cart-item-delete-btn {
    width: 35px;
    height: 35px;
    font-size: 18px;
    background-color: #dddddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.header-cart .header-cart-list .single-product .cart-item-delete-btn:hover {
    background-color: red;
    color: #ffffff;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.4);
    padding: 0 30px;
    border-radius: 0 0 35px 35px;
    -webkit-border-radius: 0 0 35px 35px;
    -moz-border-radius: 0 0 35px 35px;
    -ms-border-radius: 0 0 35px 35px;
    -o-border-radius: 0 0 35px 35px;
}

@media (max-width: 1199px) {
    .navbar {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        box-shadow: none;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        max-height: 320px;
        overflow: auto;
    }
}

.navbar-toggler {
    padding: 0;
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

@media (max-width: 1199px) {
    .navbar-toggler {
        margin-right: 50px;
    }
}

.menu-toggle {
    margin: 22px 0;
    position: relative;
    display: block;
    width: 35px;
    height: 20px;
    cursor: pointer;
    background: transparent;
    border-top: 2px solid;
    border-bottom: 2px solid;
    color: #000000;
    font-size: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.menu-toggle:before, .menu-toggle:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: currentColor;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: -webkit-transform 0.25s ease-in-out;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    -o-transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    -moz-transition: -webkit-transform 0.25s ease-in-out;
    -ms-transition: -webkit-transform 0.25s ease-in-out;
}

span.is-active {
    border-color: transparent;
}

span.is-active:before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

span.is-active:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

span.is-active {
    border-color: transparent;
}

span.is-active:before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

span.is-active:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* header-section end */
